body {
    background: #f4f4f4;
}

.tree {
    background: white;
    padding: 20px;
    border-radius: 10px;
    white-space: pre;
    font-family: monospace;
    box-shadow: 0 0 10px #ccc;
}

.list-group-item:hover {
    background: #e7f0ff;
    cursor: pointer;
}
