body {
    margin: 0; 
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background: #889db6;
    color: #fff;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header.scrolled {
    background: #67a3d4;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    padding-right: 40px;
}


nav ul {
    display: flex;
    gap: 30px;     /* spacing between Home / Services / Contact */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
   
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover {
    color: #ffd700;
}

#hero {
    
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c')
                no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#services { padding: 60px; text-align: center; }
.service-container { display: flex; justify-content: center; gap: 20px; }

.service-box {
    width: 250px;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    transition: 0.3s;
}
.faq-section {
    width: 70%;
    margin: 50px auto;
}

.faq-item {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.faq-question {
    margin: 0;
    font-size: 20px;
}

.faq-answer {
    margin: 10px 0 0;
    display: none;
    font-size: 16px;
}

.service-box:hover { transform: translateY(-10px); }

#faq, #contact { padding: 60px; }
.answer { display: none; }

#contactForm input, #contactForm textarea {
    width: 100%; padding: 12px; margin: 10px 0;
}

#backToTop {
    position: fixed;
    bottom: 30px; right: 30px;
    display: none;
    padding: 10px;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #979494;
    color: white;
}
.btn {
    background-color: #6e90b4;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s ease;
}